<main class="results">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#/result">Результат прохождения теста</a>
            <img src="../images/arrow-bread.svg" alt="стрелка">
            <p id="test-name"></p>
        </div>
        <h1 class="result-title"><span>Правильные ответы</span> к тесту</h1>
        <p class="result-person">Тест выполнил(а) <span id="user"></span></p>
        <div class="result-questions" id="questions"></div>
        <div class="result-link">
            <a href="#/result">Обратно к моему результату теста
                <img src="../images/small_arrow.svg" alt="">
            </a>
        </div>
    </div>
</main>