<main class="choice">
    <div class="container">
        <div class="choice-content">
            <h1 class="choice-title common-title">Выберите <span>тему теста</span></h1>
            <p class="choice-description">Чтобы начать тест, выберите одну из предложенных ниже тем.</p>
            <div class="choice-options" id="choice-options"></div>
        </div>
        <div class="choice-image">
            <img src="../images/choice-image.png" alt="Группа людей">
        </div>
    </div>
</main>

