<main class="main">
    <div class="container">
        <div class="main-content">
            <h1 class="main-title">Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz!</span></h1>
            <p class="main-description">Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!</p>
            <div class="main-btn">
                <a href="#/registration" class="btn">Начать тест</a>
            </div>
        </div>
        <div class="main-image">
            <img src="../images/main-image.png" alt="главная картинка">
        </div>
    </div>
</main>
